body {
	font-family: Roboto, sans-serif;
}

.container {
	margin: auto;
	background-color: #C4C4C4;
	width: 660px;
	min-height: 500px;
	border-top: 1px solid #C4C4C4;
	padding-bottom: 70px;
}

.form {
	margin-top: 60px;
	margin-bottom: 265px;
	text-align: center;
	position: relative;
}

.form__input {
	width: 500px;
	height: 60px;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 56px;
	padding-left: 12px;
}

.form__autocomplete-list {
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 3;
}

.repository {
	width: 500px;
	height: 100px;
	background-color: #E27BEB;
	margin: 0 auto;
	border: 1px solid #000000;
	padding: 8px 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.repository__text {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	margin: 6px 0;
}

.repository__cross {
	width: 45px;
	height: 42px;
	margin-right: 16px;
	background-image: url(image/7.png), url(image/8.png);
}

.autocomplete-item {
	margin: 0 auto;
	width: 500px;
	height: 44px;
	background: #E3E3E3;
	border: 2px solid #000000;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	text-align: start;
	padding-left: 12px;
}

.autocomplete-item:hover {
	background: #65CDF9;
}